In [3]:
import pandas as pd
df=pd.read_csv('weather.csv',
              names=['Outlook','temperature','humidity','windy','play'])
df.head()

    Outlook temperature humidity  windy play
0     sunny         hot     high  False   no
1     sunny         hot     high   True   no
2  overcast         hot     high  False  yes
3     rainy        mild     high  False  yes
4     rainy        cool   normal  False  yes

In [4]:
inputs = df.drop('play',axis=1)
target= df['play']

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
le_outlook= LabelEncoder();
le_temp= LabelEncoder();
le_humidity= LabelEncoder();
le_windy= LabelEncoder();

In [22]:
inputs['outlook_n'] = le_outlook.fit_transform(inputs['Outlook']);
inputs['tempn'] = le_outlook.fit_transform(inputs['temperature']);
inputs['humidity_n'] = le_outlook.fit_transform(inputs['humidity']);
inputs['windy_n'] = le_outlook.fit_transform(inputs['windy']);

In [24]:
inputs.head()

    Outlook temperature humidity  windy  outlook_n  tempn  humidity_n  windy_n
0     sunny         hot     high  False          2      1           0        0
1     sunny         hot     high   True          2      1           0        1
2  overcast         hot     high  False          0      1           0        0
3     rainy        mild     high  False          1      2           0        0
4     rainy        cool   normal  False          1      0           1        0

In [26]:
inputs_n= inputs.drop(['Outlook','temperature','humidity','windy'],axis=1)
inputs_n.head()

   outlook_n  tempn  humidity_n  windy_n
0          2      1           0        0
1          2      1           0        1
2          0      1           0        0
3          1      2           0        0
4          1      0           1        0

In [27]:
from sklearn import tree

In [28]:
model =tree.DecisionTreeClassifier()

In [29]:
model.fit(inputs_n,target)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [30]:
model.score(inputs_n,target)

1.0

In [33]:
model.predict([[1,2,0,0]])

array(['yes'], dtype=object)