In [2]:
import pandas as pd
import numpy as np
df=pd.read_csv('weather.csv',
              names=['Outlook','temperature','humidity','windy','play'])
df.head()

    Outlook temperature humidity  windy play
0     sunny         hot     high  False   no
1     sunny         hot     high   True   no
2  overcast         hot     high  False  yes
3     rainy        mild     high  False  yes
4     rainy        cool   normal  False  yes

In [3]:
inputs = df.drop('play',axis=1)
target= df['play']

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le_outlook= LabelEncoder();
le_temp= LabelEncoder();
le_humidity= LabelEncoder();
le_windy= LabelEncoder();

In [6]:
inputs['outlook_n'] = le_outlook.fit_transform(inputs['Outlook']);
inputs['tempn'] = le_outlook.fit_transform(inputs['temperature']);
inputs['humidity_n'] = le_outlook.fit_transform(inputs['humidity']);
inputs['windy_n'] = le_outlook.fit_transform(inputs['windy']);

In [7]:
inputs.head()

    Outlook temperature humidity  windy  outlook_n  tempn  humidity_n  windy_n
0     sunny         hot     high  False          2      1           0        0
1     sunny         hot     high   True          2      1           0        1
2  overcast         hot     high  False          0      1           0        0
3     rainy        mild     high  False          1      2           0        0
4     rainy        cool   normal  False          1      0           1        0

In [8]:
dataset= inputs.drop(['Outlook','temperature','humidity','windy'],axis=1)
dataset.head()

   outlook_n  tempn  humidity_n  windy_n
0          2      1           0        0
1          2      1           0        1
2          0      1           0        0
3          1      2           0        0
4          1      0           1        0

In [9]:
def entropy(target_col):
    elements,counts = np.unique(target_col,return_counts = True)
    entropy = np.sum([(-counts[i]/np.sum(counts))*np.log2(counts[i]/np.sum(counts)) for i in range(len(elements))])
    return entropy

In [10]:
def InfoGain(data,split_attribute_name,target_name="class"):
    total_entropy = entropy(data[target_name])
    vals,counts= np.unique(data[split_attribute_name],return_counts=True)
    #Calculate the weighted entropy
    Weighted_Entropy = np.sum([(counts[i]/np.sum(counts))*entropy(data.where(data[split_attribute_name]==vals[i]).dropna()[target_name]) for i in range(len(vals))])
    #Calculate the information gain
    Information_Gain = total_entropy - Weighted_Entropy
    return Information_Gain

In [11]:

def ID3(data,originaldata,features,target_attribute_name="class",parent_node_class = None):
  
    

    if len(np.unique(data[target_attribute_name])) <= 1:
        return np.unique(data[target_attribute_name])[0]
    
   
    elif len(data)==0:
        return np.unique(originaldata[target_attribute_name])[np.argmax(np.unique(originaldata[target_attribute_name],return_counts=True)[1])]

    elif len(features) ==0:
        return parent_node_class
    else:
      
        parent_node_class = np.unique(data[target_attribute_name])[np.argmax(np.unique(data[target_attribute_name],return_counts=True)[1])]
        
        #Select the feature which best splits the dataset
        item_values = [InfoGain(data,feature,target_attribute_name) for feature in features] #Return the information gain values for the features in the dataset
        best_feature_index = np.argmax(item_values)
        best_feature = features[best_feature_index]
        
        #Create the tree structure. The root gets the name of the feature (best_feature) with the maximum information
        #gain in the first run
        tree = {best_feature:{}}
        
        
        #Remove the feature with the best inforamtion gain from the feature space
        features = [i for i in features if i != best_feature]
        
        #Grow a branch under the root node for each possible value of the root node feature
        
        for value in np.unique(data[best_feature]):
            value = value
            #Split the dataset along the value of the feature with the largest information gain and therwith create sub_datasets
            sub_data = data.where(data[best_feature] == value).dropna()
            
            #Call the ID3 algorithm for each of those sub_datasets with the new parameters --> Here the recursion comes in!
            subtree = ID3(sub_data,dataset,features,target_attribute_name,parent_node_class)
            
            #Add the sub tree, grown from the sub_dataset to the tree under the root node
            tree[best_feature][value] = subtree
            
        return(tree)

In [12]:
def predict(query,tree,default = 1):
    for key in list(query.keys()):
        if key in list(tree.keys()):
            try:
                result = tree[key][query[key]] 
            except:
                return default
  
            result = tree[key][query[key]]
           
            if isinstance(result,dict):
                return predict(query,result)

            else:
                return result

In [13]:

def train_test_split(dataset):
    training_data = dataset.iloc[:80].reset_index(drop=True)#We drop the index respectively relabel the index
    #starting form 0, because we do not want to run into errors regarding the row labels / indexes
    testing_data = dataset.iloc[80:].reset_index(drop=True)
    return training_data,testing_data

training_data = train_test_split(dataset)[0]
testing_data = train_test_split(dataset)[1]

In [14]:
def test(data,tree):
    #Create new query instances by simply removing the target feature column from the original dataset and 
    #convert it to a dictionary
    queries = data.iloc[:,:-1].to_dict(orient = "records")
    
    #Create a empty DataFrame in whose columns the prediction of the tree are stored
    predicted = pd.DataFrame(columns=["predicted"]) 
    
    #Calculate the prediction accuracy
    for i in range(len(data)):
        predicted.loc[i,"predicted"] = predict(queries[i],tree,1.0) 
    print('The prediction accuracy is: ',(np.sum(predicted["predicted"] == data["class"])/len(data))*100,'%')